<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav class="shadow-lg px-3 py-2.5">
        <div class="container mx-auto">
        <div class="flex items-center justify-center mx-auto ">
            <a class="flex items-center" href="">
               <img class="h-16 mr-3" src="https://cdn0.iconfinder.com/data/icons/winter-lollipop/374/Bubble.png" alt=""> 
               <span class="self-center text-4xl font-semibold text-red-500">Chit Chat</span>
            </a>
        </div>
        <div class="w-full block w-auto">
            <ul class="flex flex-row p-4 mt-4 border rounded-lg border-grau-100 bg-blue-50">
                <li>
                    <a class="block py-2 pl-3 pr-4 rounded bg-cyan-300 text-red-500 font-bold" href="">Rooms</a>
                </li>
                <li>
                    <a class="block py-2 pl-3 pr-4 rounded text-red-500 font-bold"href="">About</a>
                </li>
            </ul>
        </div>
       </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>